.table-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px 0;
}

.table-payment {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px;
}

.table-inputs {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.table-button button {
    width: 100%;
}

.table-data {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

.table-data th, 
.table-data td {
    border: 1px solid #FFF;
    text-align: center;
    padding: 8px;
}

.table-empty {
    padding: 20px;
}
