.button-group button {
    padding: 5px 10px;
    border-radius: 10px;
    background-color: var(--color-secondary);
    font-weight: bolder;
}

.button-group button:hover {
    background-color: var(--accent-color);
    color: #FFF;
}
